.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-brand{
    margin-left: 10px;
}
@media (min-width: 670px) {
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70vh
    }
    .backg{
        margin: 30px 0 20px 0;
        border-radius: 150px;
        border: 2px solid ;
    }
    .pback{
        margin-top: 30px;
        font-size: 17px;
    }
}
@media (max-width: 670px) {
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .backg{
        margin: 70px 0 20px 0;
        border-radius: 150px;
        border: 2px solid ;
        order: 2;
    }
    .pback{
        margin-top: 30px;
        font-size: 17px;
        order: 1;
    }
    .progress{
        width: 80% !important;
    }
}
@media (min-width: 993px) {
    .container{
        width: 1300px;
        padding: 0;
    }
    .aboutme{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .img-fluid{
        border: 4px solid white ;
        border-radius: 10px;
        float: right;
        max-width: 395px;
        max-height: 395px;
    }
    .backgP{
        width: 577px;
    }
}
@media (max-width: 993px) {
    .aboutme{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .backgP{
        order: 2;
    }
    .img-fluid{
        border: 4px solid white ;
        border-radius: 10px;
        margin: 30px 0 ;
        max-width: 450px;
        max-height: 450px;
        order: 1;
    }
}
@media (min-width: 993px) and (max-width: 1200px){
    .backgP{
        margin-right: 50px;
    }
}
.backgP{
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 30px;
}
.card-text1{
    padding: 30px 10px 0 20px;
    text-wrap: wrap;
}
.buttens{
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn{
    transition: background-color  0.5s ,
    color 0.5s;
}
.btn:hover{
    background-color: black;
    color: #ffffff;
}
.card-img-top{
    border: 4px;
    border-style: solid;

}
.links{
    text-decoration: none;
    color: black;
    margin-left: 8px;
}
.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
@media(max-width: 670px){
    .link{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
}
.navars span{
    padding: 10px 0 0 20px;
}
.navar{
    margin-top: 20px;
}
.navar{
    display: flex;
    flex-direction: column;
    align-items: center;
}